.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 110px);
    grid-template-rows: repeat(8, 110px);
    width: 800px;
    height: 800px;
  }
  
  .square {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    position: relative;
  }

  .square:hover{
    cursor: pointer;
  }
  
  .lightSquare {
    background-color: #f0d9b5;
  }
  
  .darkSquare {
    background-color: #b58863;
  }
  
  .square.selected {
    background-color: #2171b5;
  }

  .square.legalMove {
    background-color: rgba(0, 255, 0, 0.3); /* Greenish tint for legal moves */
  }
  
  .fileLabel {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 0.3em;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .rankLabel {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 0.3em;
    color: rgba(0, 0, 0, 0.7);
  }

  
  
  
  
  
  