body{
    background-color: black;
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
    gap: 100px;
    padding: 20px;
    background-color: #383838;
    border-radius: 8px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
  }
  